body{
    background-image:url(../imgs/waves.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline wavy;
    text-shadow: 0 0 5px blue, 0 0 10px darkturquoise;
    color: aliceblue;
}

#sprite-luca{
    background-image: url(../imgs/luca9frames.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    animation: luca 1s steps(9) infinite;
    align-items: center;
    top:45%;
    left:42%;
   
}


@keyframes luca {
   from {background-position: 0px;}
   to {background-position: -1800px;}
}
 
